{% extends 'base.html' %}




{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename=  'assets/css/vendors/summernote.scss.css')}}">
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
      <div class="container-fluid">
            {% include "layout/breadcrumb.html" %}

            {% include "miscellaneous/editors/summer-note/components/summernote.html" %}

      </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{{ url_for('static', filename='assets/js/jquery.ui.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/editor/summernote/summernote.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/editor/summernote/summernote.custom.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/tooltip-init.js')}}"></script>
<!-- Plugins JS Ends-->
{% endblock %}