<!-- Container-fluid starts-->
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header">
        <h5>To-Do</h5>
      </div>
      <div class="card-body">
        <div class="todo">
          <div class="todo-list-wrapper">
            <div class="todo-list-container">
              <div class="mark-all-tasks">
                <div class="mark-all-tasks-container"><span class="mark-all-btn" id="mark-all-finished" role="button">
                    {% if allTasksComplete %}

                    <a href="/markAllTasksIncomplete" class="mark-all-btn" id="mark-all-incomplete" role="button"><span
                        class="btn-label">Mark all
                        as
                        Incomplete</span>
                      <span class="action-box"><i class="icon"><i class="icon-check"></i></i></span></a>
                    {% else %}
                    <a href="/markAllTasksComplete" class="btn-label">Mark all as finished</a>
                    <span class="action-box completed"><i class="icon"><i class="icon-check"></i></i></span></span>
                  {% endif %}
                </div>
              </div>
              <div class="todo-list-body">
                <ul id="todo-list">
                  {% for todo in todos %}
                  {% if todo.completed %}
                  <li class="task completed">
                    {% else %}
                  <li class="task">

                    {% endif %}
                    <div class="task-container">
                      <h4 class="task-label">{{todo.description}} </h4>
                      <span class="task-action-btn">
                        <a href="/deleteTask/{{todo.id}}" class="action-box large delete-btn" title="Delete Task"><i
                            class="icon"><i class="icon-trash"></i></i></a>

                        <a href="/toggleComplete/{{todo.id}}" class="action-box large complete-btn"
                          title="Mark Complete"><i class="icon"><i class="icon-check"></i></i></a>


                      </span>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="todo-list-footer">
                <div class="add-task-btn-wrapper"><span class="add-task-btn">
                    <button class="btn btn-primary"><i class="icon-plus"></i> Add new task</button></span></div>
                <form action="" method="POST">
                  <div class="new-task-wrapper">
                    <textarea id="new-task" required placeholder="Enter new task here. . ."
                      name="description"></textarea><span class="btn btn-danger cancel-btn"
                      id="close-task-panel">Close</span><button class="btn btn-success ms-3 add-new-task-btn"
                      type="submit" id="add-task">Add Task</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="notification-popup hide">
            <p><span class="task"></span><span class="notification-text"></span></p>
          </div>
        </div>
        <!-- HTML Template for tasks-->
        <script id="task-template" type="tect/template">
          <li class="task">
          <div class="task-container">
          <h4 class="task-label"></h4>
          <span class="task-action-btn">
          <span class="action-box large delete-btn" title="Delete Task">
          <i class="icon"><i class="icon-trash"></i></i>
          </span>
          <span class="action-box large complete-btn" title="Mark Complete">
          <i class="icon"><i class="icon-check"></i></i>
          </span>
          </span>
          </div>
          </li>
        </script>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->