{% extends 'base.html' %}




{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename=  'assets/css/vendors/datatables.scss.css')}}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename=  'assets/css/vendors/owlcarousel.scss.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=  'assets/css/vendors/rating.scss.css')}}">
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
      <div class="container-fluid">
            {% include "layout/breadcrumb.html" %}

            {% include "applications/ecommerce/list-products/components/list-1.html" %}


      </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{{ url_for('static', filename='assets/js/datatable/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/rating/jquery.barrating.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/rating/rating-script.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/owlcarousel/owl.carousel.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/ecommerce.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/product-list-custom.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/tooltip-init.js')}}"></script>
<!-- Plugins JS Ends-->
{% endblock %}